{% extends "base.html" %}

{% block content %}

<div class="welcome-container">

    <div class="welcome-card fade">

        <div class="welcome-icon">

            <i class="fa-solid fa-couch"></i>

        </div>

        <h1>

            Bee Furniture

        </h1>

        <p>

            Crafting Comfort, Designing Dreams.

            <br><br>

            Please enter your name to continue.

        </p>

        <form onsubmit="continueToHome(event)">

            <div class="input-group">

                <i class="fa-solid fa-user"></i>

                <input
                    type="text"
                    id="customerName"
                    placeholder="Enter Your Name"
                    autocomplete="off"
                    required>

            </div>

            <button
                type="submit"
                class="btn-primary">

                Continue

                <i class="fa-solid fa-arrow-right"></i>

            </button>

        </form>

        <p class="welcome-note">

            Your name will only be used while sending your enquiry.

        </p>

        <div class="welcome-footer">

            © 2026 Bee Furniture. All Rights Reserved.

        </div>

    </div>

</div>

{% endblock %}